.skills {
    margin-bottom: 8.8rem;

    &__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__title {
        font-family: var(--dm-serif);
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__paragraph {
        color: var(--dark-grayish-violet);
        line-height: 1.65;
        margin-bottom: 3.5rem;
    }
}