@font-face {
    font-family: 'DM Serif Display';
    font-weight: 400;
    src: url('../fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-weight: 400;
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    font-weight: 700;
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
}